@font-face {
    font-family: "quicksand";
    src: url("/Fonts/quicksand/Quicksand-Bold.otf"); }

   h1 {color:rgb(234, 139, 128);
    margin: 30px;

} 

.contenedorImg{
    display: flex;
    align-self: center;
}


.card {
        display: flex;
        align-items: center;
        margin: 0.5rem;
        padding: 1rem;
      
    
    }

.imgProductos{
    width: 300px;
    height: 300px;
    object-fit: contain;
    margin: 1rem;
    padding: 1rem;
}


   .btn:hover {  
background-color: salmon;
    
}

.terminarCompra{
    padding: 1rem ;
}

.btn-control{
    width: 100%;
}


h3{
    color:rgb(234, 139, 128);
}

footer{
    margin: 20px;
}